{% extends "layout.html" %}
{% block content %}
  <div class="Historical Database">
    <h1>Crop Production</h1>
    <!-- This form gets crop state and year values for the production_function-->
    <form name = "crop" name ="state" name = "year" action = "/Historical_Crop_Database/" method="POST">
        <!--creates dropdown menu based on the elements in list cropchoice defined in Start.py-->
        <select name="crop">
          <!--iterates through the list and makes a drop down menu option for each of the elements in the list-->
          {%for crop in cropchoice[0:]%}
          <option value ="{{crop}}">{{crop}}</option>
          {%endfor%}
        </select>
        <input type = "submit" value = "Submit"/>
        <!--creates dropdown menu based on the elements in list statechoice defined in Start.py-->
        <select name="state">
          <!--statechoice values get displayed in dropdown menu-->
          {%for state in statechoice[0:]%}
          <option value ="{{state}}">{{state}}</option>
          {%endfor%}
        </select>
        <input type = "submit" value = "Submit"/>
        <!--yearchoice values get displayed on dropdown menu-->
        <select name="year">
          {%for year in yearchoice[0:]%}
          <option value ="{{year}}">{{year}}</option>
          {%endfor%}
        </select>
        <input type = "submit" value = "Submit"/>

    </form>
<hr>
<!--Conditional statement below will not use production_function() until a year value has been submitted-->
{%if year != ' '%}
  <p>Query: {{crop}} {{state}} {{year}}</p>
  <p>In {{state}}, during {{year}}, {{production_function(crop,state,year)}}</p>
{%else%}
  <p>Query: {{crop}} {{state}} {{year}}</p>
{%endif%}
<hr>
<!--Short description giving a vague tutorial for users-->
<p> The Query view allows you to track your selections. Once a selection has been made a window will pop up with a graphical representation of the data. This graph has zooming capabilities and can also be saved.</p>
<p>These records span from 1990 to 2018. The USDA began documenting data relating to GM crops in 2000. Records prior to this date will not have any data on GM crops.</p>


  </div>
{% endblock %}
