{% extends "layout.html" %}
{% block content %}
<h1>Definition of a GMO</h1>
  <div class="GMODef">
    <h1>What are Genetically Modified Organisms?</h1>
    <p>The definiton of a genetically modified organism, or GMO, simply put is this:</p>
    <p style="text-indent: 40px">A GMO, or genetically modified organism, is a plant, animal, microorganism or other organism whose genetic makeup has been modified in a laboratory using genetic engineering or transgenic technology. This creates combinations of plant, animal, bacterial and virus genes that do not occur in nature or through traditional crossbreeding methods.</p>
    <p style="text-indent: 40px">GMO's are very common place and help produce the crop byproducts used in just about everything we use today. For example the byproducts of corn are used in feeding livestock, creating corn-based plastics, in batteries as a bioconductor, a multitude of hygiene and cometic products, making diapers, medications, textiles, crayons, adhesives, candies, toothpaste, detergent, drywall, clothing dyes, explosives, and even not mention its largest contribution: any product that uses high fructose corn syrup.</p>
    <p style="text-indent: 40px">The byproducts of soybeans and cotton are just as extensive but from these basic crops are a lot of the base resources we use to make millions of products today including gasoline and alcohol.</p>
    <h2> Types of GM Crops</h2>
    <p style="text-indent: 40px">The two major kinds of GM crops that are used to day are Bt crops and Herbicide Tolerant Crops. Bt Crops are named for Bacillus thuringiensis (Bt), a bacteria that makes insects and pests sick. Bt bacteria makes a special protein which doesnt sit well with insects acting as a deterrent to keep pests away from crops. Herbicide Tolerant Crops allow farmers to spray herbicides on weeds with out killing their crops. The problem with weeds are that weeds are defined as plants that don't belong but usually they are similar to crops so non-herbicide tolerant crops also die when sprayed. There is also another kind of GM crop which is a stacked version which contains genes from both Bt and Herbicide Tolerant GM crops.</p>
  </div>
{% endblock %}
