{% extends "layout.html" %}
{% block content %}
<h1>Definition of a GMO</h1>
  <div class="GMODef">
    <h1>What are Genetically Modified Organisms?</h1>
    <p>The definiton of a genetically modified organism, or GMO, changes depending on who you ask. Below I provide three definitons and their sources. The first definition is the one that I have constructed to be as unbaised as possible. The next two that follow come from baised views that extend from two institutions that have anticomplementary views on GMOs</p>
    <p>1. A GMO is an organism that has had its genetic makeup modified in order to obtained a desired effect. The genetic makeup can be altered by removing genes, replacing genes, modifying existing genes, or adding new foreign genes.</p>
  </div>
{% endblock %}
